*.key
*.pem
*.crt
*.env
*.envrc
secrets*/

.cache/
**/*.log
**/*.swp
**/*.swo
**/*~
**/*.bak

.config/xfce4/desktop/icons.screen0.yaml
.config/xfce4/desktop/accels.scm
.config/Thunar/accels.scm
.config/gtk-3.0/bookmarks
